.about-me {
  position: relative;
  height: 100vh;
  background-color: $cBg;
  overflow: hidden;

  &__stars {
    position: absolute;
    width: 50vh;
    opacity: .5;
    z-index: 0;

    &--left {
      bottom: 0;
      left: 5vh;
    }

    &--right {
      top: 0;
      right: 5vh;
    }
  }

  &__comet {
    position: absolute;
    top: 10vh;
    left: 10vh;
    width: 50vh;
  }

  &__title {
    position: absolute;
    top: 5vh;
    left: 5vh;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 5vh;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
  }

  &__text {
    position: absolute;
    top: 20vh;
    left: 25%;
    width: 50%;
    color: #ffffff;
    font-size: 5vh;

    font-weight: 100;
    line-height: 61px;
    text-align: center;
    z-index: 10;


  }
}

//TODO: CLEAN IT UP AFTER ADDING PROJECTS
@media(max-width: $laptop-max) {
  #about_me_text {
    left: 10%;
    width: 80%;
    /* font-size: 3vh; */
  }
}

@media only screen and (max-width: 1400px) {
  #about_me {
    position: relative;
    height: 100vh;
    background-color: $cBg;
  }

  #about_me_text {
    position: absolute;
    top: 20vh;
    left: 10%;
    // font-size: 3vh;
  }

  #about_me_comet {
    top: auto;
    right: 5vh;
    bottom: 5vh;
    left: auto;
    width: 40vh;
  }
}

@media (orientation: portrait) {
  #about_me_text {
    top: 30%;
    left: 25%;
    font-size: 2.5vh;
  }

  .stars {
    position: absolute;
    width: 20vh;
  }

  #about_me_comet {
    position: absolute;
    top: 5vh;
    left: 5vh;
    width: 20vh;
  }
}