.skill-certificate {
  // overflow: hidden;
  position: relative;
  min-height: 110vh;
  background-color: #3a3532;
  text-align: center;

  &__skill-wrapper {
    position: absolute;
    top: 5vh;
    bottom: 15vh;
    left: 2vh;
    width: 40%;
  }

  &__certificates-wrapper {
    position: absolute;
    top: 5vh;
    right: 2vh;
    bottom: 15vh;
    width: 40%;
  }

  &__text {
    margin-bottom: 5%;
    color: #ffffff;
    font-size: 8vh;
    font-weight: 700;
  }

  &__skills {
    display: inline-block;
    width: 20vh;
    margin: 3vh;
    margin-top: 8vh;
  }

  &__certificate {
    height: 20vh;
    margin: 3vh;
    transition: .3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__stone {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

#green_pipe {
  position: absolute;
  top: -25%;
  left: 40%;
  width: 35vh;
  height: 150vh;
  z-index: 10;
}

@media screen and (max-width: 1400px) {
  .skill-certificate {
    min-height: 240vh;
  }

  #green_pipe {
    position: absolute;
    top: auto;
    right: 1%;
    bottom: 60vh;
    left: auto;
    width: 25vh;
    height: auto;
    transform: scaleY(2.4);
  }

  #skills_wrapper {
    position: relative;
    top: 5vh;
    bottom: auto;
    left: auto;
    width: 60%;
    padding-bottom: 5vh;
    border-bottom: 3px #ffffff solid;
  }

  .skills {
    display: inline-block;
    left: 0;
    width: 100%;
    margin: auto;
  }

  #certificates_wrapper {
    position: relative;
    right: auto;
    bottom: 10vh;
    width: 60%;
  }

  .certificates {
    left: 0;
    width: 100%;
    margin: 0;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .skill-certificate {
    min-height: 210vh;

    &__text {
      font-size: 4vh;
    }


  }

  #certificates_wrapper {
    position: relative;

    bottom: 5vh;
    left: 5%;
    width: 40%;
  }

  #skills_wrapper {
    position: relative;
    left: 5%;
    width: 40%;
    padding-bottom: 2vh;
  }

  #green_pipe {
    bottom: 67vh;
    width: 15vh;
    transform: scaleY(3.4);
  }
}