$highlight:     #ed4a01;
$dim-highlight: #ff4545;
$cBlack:        #000000;
$cWhite:        #ffffff;
$cBg:           #1f0179;
$cPurpleBg:     #2e005d;
$cBrownBg:      #3a3532;
$cWave:         #31a0ff;
$cSea:          #0180ed;
$cDarkWave:     #0089ff;
$cDarkSea:      #0069c2;
$cPurpleText:   #6e3b9c;

$laptop-l-max: (max-width: 1439px);
$laptop-l:     (min-width: 1440px);
$laptop-m-max: (max-width: 1279px);
$laptop-m:     (min-width: 1280px);
$laptop-max:   (max-width: 1023px);
$laptop:       (min-width: 1024px);
$tablet-l-max: (max-width: 979px);
$tablet-l:     (min-width: 980px);
$tablet-max:   (max-width: 767px);
$tablet:       (min-width: 768px);
$tablet-s-max: (max-width: 599px);
$tablet-s:     (min-width: 600px);
$mobile-l-max: (max-width: 424px);
$mobile-l:     (min-width: 425px);
$mobile-m-max: (max-width: 374px);
$mobile-m:     (min-width: 375px);
$mobile-s-max: (max-width: 319px);
$mobile-s:     (min-width: 320px);
