$highlight:     #ed4a01;
$dim-highlight: #ff4545;
$cBlack:        #000000;
$cWhite:        #ffffff;
$cBg:           #1f0179;
$cPurpleBg:     #2e005d;
$cBrownBg:      #3a3532;
$cWave:         #31a0ff;
$cSea:          #0180ed;
$cDarkWave:     #0089ff;
$cDarkSea:      #0069c2;
$cPurpleText:   #6e3b9c;

$laptop-l-max: 1440px;
$laptop-l:     1441px;
$laptop-max:   1024px;
$laptop:       1025px;
$tablet-max:   768px;
$tablet:       769px;
$mobile-l-max: 425px;
$mobile-l:     426px;
$mobile-m-max: 375px;
$mobile-m:     376px;
$mobile-s-max: 320px;
$mobile-s:     321px;
