@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700,900");

#app {
    font-family: 'Roboto';
}

html,
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@import 'coin.scss';
@import './settings/_reset.scss';
@import './settings/variables.scss';

@import './navigation.scss';
@import './sections/home.scss';
@import './sections/underground.scss';
@import './sections/skill-certificate.scss';
@import './sections/about-me.scss';
@import './sections/projects.scss';