@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700,900");

@import 'coin.scss';
@import './settings/_reset.scss';
@import './settings/variables.scss';

@import './navigation.scss';
@import './sections/home.scss';
@import './sections/underground.scss';
@import './sections/skill-certificate.scss';
@import './sections/about-me.scss';
@import './sections/projects.scss';
@import './sections/contact.scss';
@import './sections/end.scss';
@import './components/waves.scss';

#app {
  font-family: 'Roboto';
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.space_sections {
  position: relative;
  min-height: 100vh;
  background-color: $cBg;
}

.stars {
  position: absolute;
  width: 50vh;
  opacity: .5;
  z-index: 0;
}

#sitemap {
  position: absolute;
  right: 0;
  bottom: 0;
}